[submodule "modules/CoreWorlds"]
	path = modules/CoreWorlds
	url = ../CoreWorlds-Evolve.git
[submodule "modules/CoreRendering"]
	path = modules/CoreRendering
	url = ../CoreRendering-Evolve.git
[submodule "modules/CoreAssets"]
	path = modules/CoreAssets
	url = ../CoreAssets-Evolve.git
[submodule "modules/Minimap"]
	path = modules/Minimap
	url = ../Minimap-Evolve.git
[submodule "modules/CubeWorlds"]
	path = modules/CubeWorlds
	url = ../CubeWorlds-Evolve.git
